useDynLib(BOBgmms)
importFrom(Rcpp, evalCpp)
import(parallel, reticulate, stats)
importFrom("MASS", "mvrnorm")
importFrom("FKSUM", "fk_density")
importFrom("lhs", "randomLHS")
importFrom("lhs", "augmentLHS")
importFrom("utils", "tail")
importFrom("mvnfast", "dmixn")
importFrom("mvnfast", "dmvn")
importFrom("LaplacesDemon", "dinvwishart")
importFrom("LaplacesDemon", "ddirichlet")
importFrom("DiceKriging", "km")
importFrom("DiceOptim", "max_qEI")
importFrom("pbapply", "pbapply")
export("post.predictive", "wbb.Sampler", "distance.tv", "distance.ks")
export("bob.Sampler", "em.optim", "log_post", "log_lik")
