useDynLib(BOBgmms)
importFrom(Rcpp, evalCpp)
import(stats)
import(parallel)
importFrom(pbmcapply, pbmclapply)
importFrom(utils, tail)
importFrom(mvnfast, dmixn)
importFrom(mvnfast, dmvn)
importFrom(FKSUM, fk_density)
importFrom(lhs, randomLHS)
importFrom(lhs, augmentLHS)
importFrom(pbapply, pbapply)
importFrom(DiceKriging, km)
export(em.optim)
export(wbb.gmm)
export(lpost)
export(loglik)
export(bob.gmm)
